{% extends "catalog/base.html" %}

{% block content %}
    <h2>Список блоговых записей</h2>
    <ul>
        {% for post in blog_posts %}
            <li>
                <a href="{% url 'blog_post_detail' post.slug %}">{{ post.title }}</a>
                <a href="{% url 'blog_post_update' post.slug %}" class="btn btn-primary">Редактировать</a>
                <a href="{% url 'blog_post_delete' post.slug %}" class="btn btn-danger">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'blog_post_create' %}" class="btn btn-primary">Создать новую запись</a>
{% endblock content %}
