{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Форма - {{ block.super }}{% endblock title %}

{% block header %}
    Форма Регистрации
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mb-3">
                        <label for="first_name" class="form-label">Имя:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name" class="form-label">Фамилия:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Почта:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
