{% extends "catalog/base.html" %}

{% block title %}Index{% endblock title %}

{% block header %}Главная страница{% endblock header %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Добро пожаловать на главную страницу</h2>
                <a class="btn btn-primary" href="{% url 'contacts' %}">Регистрация</a>
                <a class="btn btn-primary" href="{% url 'catalog' %}">Каталог</a>
            </div>
        </div>
    </div>
{% endblock content %}
