<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Форма отправки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstName">Имя:</label>
            <input type="text" class="form-control" name="firstName" placeholder="Введите имя">
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия:</label>
            <input type="text" class="form-control" name="lastName" placeholder="Введите фамилию">
        </div>
        <div class="form-group">
            <label for="email">Почта:</label>
            <input type="email" class="form-control" name="email" placeholder="Введите адрес почты">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
